/* Styles for course ratings */

.tool_courserating-stars .icon {
    margin-right: 1px;
}
.tool_courserating-cfield .course-average-value {
    font-weight: bold;
}
.tool_courserating-cfield .tool_courserating-ratings:hover {
    text-decoration: none;
}

.tool_courserating-widget {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.tool_courserating-reviews-popup .course-average-value {
    font-weight: 700;
    letter-spacing: -.02rem;
    font-size: 4rem;
}
.tool_courserating-reviews-popup .course-average-caption {
    font-weight: 700;
    line-height: 1.4;
    font-size: 0.9rem;
}
.tool_courserating-reviews-popup .course-rating-percent {
    font-weight: 700;
}
.tool_courserating-reviews-popup .course-rating-bar {
    height: 10px;
    display: block;
    border-radius: 2px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .25);
    position: relative;
    background-color: #eee;
    margin: 3px;
}
.tool_courserating-reviews-popup .course-rating-bar .course-rating-bar-rating {
    display: block;
    height: 10px;
}
.tool_courserating-reviews-popup .user-review {
    border-top: 1px solid #dee2e6;
}

.tool_courserating-form-stars-group label .icon {
    font-size: 2rem;
}
.tool_courserating-form-stars-group label.form-check-inline {
    margin-right: 0;
    padding-right: 1rem;
}

.tool_courserating-form-stars-group input[type='radio'] {
    display: none;
}

.tool_courserating-form-stars-group .stars-1 .star-on,
.tool_courserating-form-stars-group.s-1 .stars-1 .star-off,
.tool_courserating-form-stars-group .stars-2 .star-on,
.tool_courserating-form-stars-group.s-2 .stars-2 .star-off,
.tool_courserating-form-stars-group .stars-3 .star-on,
.tool_courserating-form-stars-group.s-3 .stars-3 .star-off,
.tool_courserating-form-stars-group .stars-4 .star-on,
.tool_courserating-form-stars-group.s-4 .stars-4 .star-off,
.tool_courserating-form-stars-group .stars-5 .star-on,
.tool_courserating-form-stars-group.s-5 .stars-5 .star-off {
    display: none;
}
.tool_courserating-form-stars-group.s-1 .stars-1 .star-on,
.tool_courserating-form-stars-group.s-2 .stars-2 .star-on,
.tool_courserating-form-stars-group.s-3 .stars-3 .star-on,
.tool_courserating-form-stars-group.s-4 .stars-4 .star-on,
.tool_courserating-form-stars-group.s-5 .stars-5 .star-on {
    display: inline-block;
}
