<div class="mdl-right review-flags" data-for="tool_courserating-user-flag" data-ratingid="{{ratingid}}">
    <div class="user-flag">
        {{#flagged}}
            {{#str}}youflagged, tool_courserating{{/str}}
        {{/flagged}}
        {{#toggleflag}}
            {{>core/inplace_editable}}
        {{/toggleflag}}
    </div>
    {{#flags}}
        <div class="mdl-right user-flags">
            <span class="badge badge-warning">{{#str}}usersflagged, tool_courserating, {{.}}{{/str}}</span>
            {{#candelete}}
                <a href="#" data-action="tool_courserating-delete-rating" data-ratingid="{{ratingid}}">{{#str}}deleterating, tool_courserating{{/str}}</a>
            {{/candelete}}
        </div>
    {{/flags}}
</div>
