<div class="tool_courserating-reviews-popup">
    <div class="container course-rating-summary" data-courseid="{{courseid}}" data-for="tool_courserating-summary">
        {{>tool_courserating/course_ratings_summary}}
    </div>

    <div class="course-reviews" data-contextid="{{systemcontextid}}" data-courseid="{{courseid}}" data-for="tool_courserating-reviews">
        {{#reviews}}
            {{> tool_courserating/review}}
        {{/reviews}}
    </div>
</div>
